.custom-card {
    background-color: #353A40;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
  }
  .custom-title {
    color: #353A40;
    border-bottom: 1px solid #e0e0e0;
  }
  .custom-margin {
    margin-right: 9px; /* Ajusta el valor según sea necesario */
  }
  .custom-alert {
    list-style-type: none; /* quita los bullets de la lista */
    padding: 20px; /* agrega padding */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* agrega sombra */
  }
 