.custom-card {
    background-color: #353A40;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
  }
  .custom-title {
    color: #353A40;
    border-bottom: 1px solid #e0e0e0;
  }
  .custom-margin {
    margin-right: 9px; /* Ajusta el valor según sea necesario */
  }
 