<ul class="alert alert-danger" *ngIf="errores.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="card bg-secondary text-white mt-5">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #docenteForm="">
      <div class="form-group row mb-3">
        <label for="abc" class="col-form-label col-sm-2">abc:</label>

      </div>
      <div class="form-group row mb-3">
        <label for="cde" class="col-form-label col-sm-2">cde:</label>

      </div>
      <div class="form-group row">
        <label for="dsd" class="col-form-label col-sm-2">dsd:</label>

      </div>



      <div class="form-group row mt-4">
        <div class="col-sm-6">
          <button class="btn btn-success" role="button" (click)='crearDocente()' >Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
